@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --purple: rgba(98, 72, 131, 1);
  --white: rgba(255, 255, 255, 1);
  --balck-white: rgba(241, 245, 249, 1);
  --white-purple: rgba(128, 97, 167, 1);
  --border-color: rgba(203, 213, 225, 1);
  --button-bg-color: rgba(233, 233, 233, 1);
  --button-color: rgba(174, 174, 174, 1);
  --dark: rgba(32, 32, 32, 1);
  --line: rgba(0, 0, 0, 0.275);
}

body {
  background-color: var(--balck-white);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}

img {
  max-block-size: 100%;
}

input:focus {
  outline: none;
}

::placeholder {
  color: unset;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0;
}
