@media (max-width: 576px) {
  /* navbar css start */
  .header_top_wrapper .header_wrapper_block .language_wrapper .dropdown {
    display: block;
  }
  .header_top_wrapper
    .header_wrapper_block
    .language_wrapper
    .language_links_wrapper
    .language_items {
    display: none;
  }
  .navbar_wrapper {
    flex-direction: column;
    gap: 10px;
  }
  /* navbar css end */

  /* form page css start */
  form {
    padding: 25px;
  }
  .user_full_name_wrapper,
  .pasport_info_wrapper {
    flex-direction: column;
  }
  .pasport_info_wrapper div:first-child {
    width: 100%;
  }
  .pasport_info_wrapper div {
    width: 100%;
  }
  /* form page css end */

  /* form 2 page css start */
  .participant_box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  /* form 2 page css end */
}

@media (max-width: 375px) {
  .participant_box {
    display: grid;
    grid-template-columns: auto;
  }
}
